@page
@model PoolFootballApp.Pages.Messages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Message - Detail</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Message.Title)</h4>
    <hr />
    <textarea asp-for="Message.Content" class="col-md-8" style="height:200px" readonly>
    </textarea>
    <br />
    <p>By: @Html.DisplayFor(model => model.Message.Signature)</p>
    <p>posted at @string.Format("{0} {1}", Model.Message.PostTime.ToShortDateString(), Model.Message.PostTime.ToShortTimeString())</p>
</div>
<div>
    @if (Model.CurrentUser.Equals(Model.Message.UserId))
    {
        <a asp-page="./Delete" asp-route-id="@Model.Message.Id" class="btn btn-danger">Delete</a>
    }
     | 
    <a asp-page="./Index">Back to List</a>
</div>
