@page
@model PoolFootballApp.Pages.Picks.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pick</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pick.Id" />
            <div class="form-group">
                <label asp-for="Pick.MatchId" class="control-label"></label>
                <select asp-for="Pick.MatchId" class="form-control" asp-items="ViewBag.MatchId"></select>
                <span asp-validation-for="Pick.MatchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pick.Choice" class="control-label">@Models.MatchPick.Away.ToString()</label>
                @Html.RadioButtonFor(m => m.Pick.Choice, Models.MatchPick.Away);

                <br />

                <label asp-for="Pick.Choice" class="control-label">@Models.MatchPick.Home.ToString()</label>
                @Html.RadioButtonFor(m => m.Pick.Choice, Models.MatchPick.Home);

                <span asp-validation-for="Pick.Choice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
